body {
    background-image: url("images/pizza1.jpg");

   
    /* Center and scale the background nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

     /* Full height */
     height: 100%; 
  
}

/* Center all the content to the width and height */


h1{
    color: #ffffff;
    font-size: 4rem;
    font-family: 'Shrikhand', cursive;
}

h2{
    color: #FFFFFF;
}

p{
        color: #ffffff;
}

.jumbotron{
    background-color: rgb(0,0,0,.6);
           
}

#app{
    background-color: rgb(0,0,0,.6);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10%;
}


/**
 * ----------------------------------------
 * animation wobble-ver-left
 * ----------------------------------------
 */


 .wobble-ver-left {
	-webkit-animation: wobble-ver-left 0.8s both;
	        animation: wobble-ver-left 0.8s both;
}


 @-webkit-keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
  }

  /**
 * ----------------------------------------
 * animated loader
 * ----------------------------------------
 */

#loader{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index:1;
        overflow:visible;
        background:#fff url(images/loaderpizza.gif) no-repeat center center;
       
       
}
